{% extends "base.html" %}
{% block content %}

<p><b>Departure from:</b><br>
<input type='text' list='departurefrom'>
    <datalist id='departurefrom'>
    {% for city in city %}
       <option label={{city.city_name}} value={{city.city_name}}>
    {% endfor %}
    </datalist>

<p><b>Arrival to:</b><br>
<input type='text' list='arrivalto'>
    <datalist id='arrivalto'>
    {% for city in city %}
       <option label={{city.city_name}} value={{city.city_name}}>
    {% endfor %}
    </datalist>

<p><b>First Name:</b><br>
<input type='text' list='firstname'>

<p><b>Last Name:</b><br>
<input type='text' list='lastname'>

{% endblock %}