{% extends "base.html" %}
{% block content %}
<form action="http://localhost:5000/order" method = "POST">
<p><b>Flight number: </b><br>
<textarea name="flightCode">{{ flightCode }}</textarea>
<p><b>First Name:</b><br>
<input type='text' name='firstname'>

<p><b>Last Name:</b><br>
<input type='text' name='lastname'>

<p><b>Class:</b><br>
<input type='text' list='category' name="category">
    <datalist id='category'>
    {% for category in category %}
       <option label={{category.reserv_class}} value={{category.reserv_class}}>
    {% endfor %}
    </datalist>

<p><b>Number of persons:</b><br>
<input type="number" step="1", min="0", max="10">

<p><input type = "submit" value = "submit" /></p>
{% endblock %}